
header{
    text-align: center;
    background: url(../images/computer.jpg) no-repeat center;
    background-size: cover;
    height: 700px;
}

#head-box{
    padding: 20px;
    border: 5px solid white;
    margin-top: 220px;
    margin-bottom: 150px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    color: #4c4c4c;
    text-shadow: 3px 3px 3px rgba(12,2,2, 0.3);
    font-size: 50px;
}

#about{
    background: url(../images/fabricchanged.jpg) no-repeat center;
    background-size: cover;
    padding: 10%;
    color: white;
    font-size: 20px;
}

#portfolio{
    background: url(../images/brick.jpg) no-repeat center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    color: white;
}

#contact{
    background: url(../images/paper.jpg) no-repeat center;
    background-size: cover;
    padding: 10px;
}


.btn {
    color: white;
    border: 2px outset rgba(255, 255, 255, 0.9);
    background: #4c4c4c;
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
    transition: 0.2s;
    white-space: normal;
    width: 40%;
}


#footer{
    background: darkgoldenrod;
    padding: 5%;
}


.round-white-border {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}


h3{
    color: #4c4c4c;
    word-wrap: break-word;
}


.colored-text{
    color: #98F5FF;
}

#foot-links ul li{
    display: inline;
}


.over{
    position: relative;
}

.over img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    display: none;
    position: absolute;
    bottom: 0;
    top: 30%;
    height: 100%;
    width: 95%;
    color: lightgray;
    text-align: center;
    font-size: 60px;
}

.over:hover .text {
    display: block;
}


.row-format{
    padding: 20px;
}

#port-text{
    color: lightgray;
    text-shadow: 3px 3px 3px rgba(12,2,2, 0.3);
}





